@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary: #7C3AED;
  --color-secondary: #9333EA;
  --color-background: #1E1B2E;
  --color-text: #EDE9FE;
  --color-accent: #FBBF24;
}

.reset-tw, .reset-tw *{
  all: revert !important;
}

.cl-drawerRoot{
  z-index: 10;
}